*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0%;
}

.header{
    height: 100px;
    background-color: white;
}

.grid{
   max-width: 100%;
   margin: 0 auto;
   padding-right: 70px ;
   padding-left: 30px;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}


.header__navbar-list{
    list-style: none;
    margin-top: 28px;
}

.header__navbar-item{
    /* display: flex; */
    margin: 0 4px;
    display: inline-block;
    font-size: 15px;
    text-decoration: inherit;
    
    font-weight: 500;
    color: black
}

.header__navbar-item{
  
    position: relative;
    font-size: var(--chakra-fontSizes-md);
    padding: 6px;
    font-size: 20px;
    font-weight: 200;
  
}

/* Header đầu tiên */
.header__navbar-item-sparate{
    font-size: 40px;
    color: black;
    border-bottom: 4px solid green;
}  

/* Nhấp nháy */
.header__navbar-item:hover,.header__navbar-item-sparate:hover{
    color: green
}

/* Header Tìm Kiếm */
.header-with-search{
    margin-top: 30px;
}

.header__search{
    flex: 1;
    height: 20px;
    width: 500px;
    border-radius: 2px;
    margin-left: 32px;
   background-color: white;
}

.header__search-input{
    padding-left: 60px;
    width: 100%;
    height: 200%;
    outline: none;
    padding: 0 8px;
    border: 2px solid #e0dcdd;
    background-color: #fafafa;
}

.header__navbar-item-border{
    background-color: white;
    padding: 10px 15px ;
    border-radius: 30px;
    border: 1px solid black;
}

/* Menu */
.grid__list-menu{
    padding-top: 10px;
}

.grid__list-menum,.list-navbar:hover{
    color: green;
}

.list-menu{
    height: 50px;
    text-align: center;
    background-color: #f4f4f1;
}


.list-navbar{
    color: black;
    font-weight: 550;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
    margin-top: 100px;  
    font-family: var(--chakra-fonts-suisseIntlMedium);
}

.background{
    
    background-color: #f4f4f1;
}


/* Slideshow container */
.slideshow-container {
  max-width: 80%;

  
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* nút next và prev */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* chuyển động animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
.footer{
    height: 400px;
    background-color: #0f0f0f;      
}

.grid-footer{ 
width: 1200px;
max-width: 100%;
margin: 0 auto;
}

.grid__row{
    display: flex;
   
    margin-left: -5px;
    margin-right: -5px;
}

.grid__colum-2-4{
    padding-left: 10px;
    padding-right: 40px;
}


.footer__heading {
    margin-top: 30px;
    color: white;
}


.footer__heading{
    font-size: var(--chakra-fontSizes-sm);
    /* text-transform: uppercase; */
    padding-top: var(--chakra-space-1);
}
.footer-list{
    padding: 20px;
    padding-left: 0;
    list-style: none;
    letter-spacing: 3px;
    line-height: 1.4;

}

.footer_item-link{
    text-decoration: none;
    padding-top: var(--chakra-space-2);
    font-size: var(--chakra-fontSizes-xs);
    color: #5f5f5f;
    letter-spacing: 1px;
}

.footer_item-link:hover{
    color: green;
}

.footer__list-icon{
    margin-top: 20px;
}


.list-icon,.footer_icon-link2{
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.list-icon{
    color: white;
    list-style: none;
    font-size: 30px;
   margin-right: 80px;
   letter-spacing: 50px;
   cursor: pointer;
}

.footer_icon-link2 {
    margin-top: 20px;
}

.footer_icon-link:nth-child(1){
    color: rgb(22, 159, 223);
}

.footer_icon-link:nth-child(2){
    color: rgb(62, 34, 190);
}

.footer_icon-link:nth-child(3){
    color: rgb(218, 114, 29);
}

.footer_icon-link:nth-child(4){
    color: rgb(204, 32, 32);
}

.footer_icon-link2:nth-child(1){
    color: white;
}

.footer_icon-link2:nth-child(2){
    color: rgb(196, 31, 20)
}

header a,
.list-menu a{
    text-decoration: none;
}
